.load-overlay
	.loading-data.text-center
		%h2 We are moving mountains for you right now!
		%h3 Your Trips, Flights, and Maps are being created as you read.
		%h4 SEARCHING...
		.loading-row.marquee
			.pull-left.loading-airline
				American Airlines
			.pull-left.loading-airline
				Delta
			.pull-left.loading-airline
				Jetblue
			.pull-left.loading-airline
				Southwest
			.pull-left.loading-airline
				NWA
			.pull-left.loading-airline
				Cheapo Air
			.pull-left.loading-airline
				Taca Air
			.pull-left.loading-airline
				United Airlines
			.pull-left.loading-airline
				FlightHub
			.pull-left.loading-airline
				Virgin
			.pull-left.loading-airline
				US Airways
			.pull-left.loading-airline
				Priceline
			.pull-left.loading-airline
				Orbitz