%h1 Users
= grid(@users) do |g|
  - g.column name: 'ID', attribute: 'id'
  - g.column name: 'Name', attribute: 'name'
  - g.column name: 'Email', attribute: 'email'
  
  -g.column name: 'Edit' do |a|
    - link_to 'Edit', edit_user_path(a)
  -g.column name: 'View' do |a|
    - link_to 'View', a
  -g.column name: 'F Check' do |a|
    -n = User.find(a).id
    - link_to 'Run', auth_recheck_path(who: n)
  -g.column name: 'Delete' do |a|
    -n = User.find(a)
    - link_to 'Delete', n, :method => :delete, :data => { :confirm => 'Are you sure?' }
  -g.column name: 'Clear All' do |a|
    -n = User.find(a).id
    - link_to 'Clear', auth_clear_path(who: n)