%h1.text-center About Boarding Past
%p BoardingPast tracks, maps, and sorts your past and future travels by automatically analyzing travel receipts in your email. It's that simple. You just sign into BoardingPast using your email and with in a matter of minutes we will return a beautiful interactive map with all of your travel history. You can also slice and dice your travel data to see things like your favorite month to travel or how much money you spent in 2008.
.header-title
	%h3.text-center &#9679; BoardingPast Origin and Destination &#9679;

%p BoardingPast started as personal desire. I was curious to know everywhere I had traveled and the best way I could think of to remember each trip was to go through my email, message by message, and find all of my plane tickets. This proved extremely difficult as I have not deleted an email since two thousand two. Once I got all of the information from the emails, I mapped it on a google map. It was pretty awesome seeing everything in one place, but neither the process of gathering the information or the actual map out was very pretty.

%p Even with the ugliness, my friends wanted to do the same. So I decided to build an automatted way to do it. It turned out to be really fun and interesting - so I thought it would be cool to make it available to everyone.

.header-title
	%h3.text-center &#9679; The BoardingPast Team &#9679;
.me-circle	
%p.text-center Right now, it's just lonely ole me. But that's okay. This isn't a money making site, it's purely for fun.
