%h1.text-center How It Works

.row{style:"margin-bottom:50px;"}
	.span1
		%h2.text-center{style:"margin:0px;"} 1
	.span11
		%p You sign up for BoardingPast with the email address where you have your travel receipts sent. That includes airline tickets, hotel bookings, and train tickets.
.row{style:"margin-bottom:50px;"}
	.span1
		%h2.text-center{style:"margin:0px;"} 2
	.span11
		%p We scan your travel receipt emails for flight, train, and accomodation information. We currently collect your travel data from over 70 airlines, 7 train companies, and 7 hotel booking sites. Please note that we do not scan any emails that are not travel related.
.row{style:"margin-bottom:50px;"}
	.span1
		%h2.text-center{style:"margin:0px;"} 3
	.span11
		%p We create an interactive map of your travel plotted with all of your flights. We also aggregate your travel stats into fun and interesting insights about your travel tendencies which you can view and share with your friends.