%h1 Playground
-@trips_by_month.each do |monthname, trips|
	%h5=monthname
	-trips.each do |trip|
		=trip.flights.first.arrival_airport
		-trip.flights.each do |flight|
			=flight.arrival_airport


%h3 Airlines
-@airlines.each do |origin|
	%p=origin
%h3 Traveling by Day Leave
-@by_day_of_week_leave.each do |origin|
	%p=origin
%h3 Traveling by Day Return
-@by_day_of_week_return.each do |origin|
	%p=origin
%h3 Traveling by Year
-@by_year.each do |origin|
	%p=origin
%h3 Traveling by Month
-@by_month.each do |origin|
	%p=origin
%h3 Countries
-@destination_countries.each do |origin|
	%p=origin
%h3 Origins
-@origins.each do |origin|
	%p=origin
%h3 Destinations
-@destinations_cities.each do |destination|
	%p= destination

	