%h1 Listing airports

= grid(@airports) do |g|
  - g.column name: 'ID', attribute: 'id'
  - g.column name: 'Name', attribute: 'name'
  - g.column name: 'FAA', attribute: 'faa'
  - g.column name: 'City', attribute: 'city'
  
  -g.column name: 'Edit' do |a|
    - link_to 'Edit', edit_airport_path(a)
  -g.column name: 'View' do |a|
    - link_to 'View', a
  -g.column name: 'Delete' do |a|
    - link_to 'Delete', a, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Airport', new_airport_path
