// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-bg{
	background: image-url("home_1.jpg") no-repeat center center fixed;
	height: 580px;
	width:100%;
	position: relative;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color:white;	
}

.home-bg .front-overlay{
	//padding: 200px 0 0 0;
}

.bump-down{
	padding: 200px 0 0 0;
	width:90%;
	margin:auto;
}
.blacker {
	background: rgba(0, 0, 0, 0.35);
	padding: 45px 0;
	width: 90%;
	margin: auto;
}

.home-alter, .home-alter0{
	//padding-top: 55px;
}

.home-alter0 {
	background: rgb(84, 84, 84);
	color: white;
}
.home-explain{
	padding: 80px 40px 0 40px;
}
.home-picture{
	padding: 40px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.home-picture img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.clearbutton {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	padding: 10px;
}

.clearbutton:hover{
	color: #f1c40f;
	
	border: 1px solid #f1c40f;
	text-decoration: none;
}

input#user_remember_me{
	margin: 0 3px 3px 0;
}

.little-box{
	background: #25ce98;
	width:80%;
	margin:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
}

.header-title{
	background: black;
	width: 55%;
	margin: 30px auto 20px auto;
	color: white;
	border-bottom: 3px #25ce98 solid;
}

.header-title h3 {
	margin: 0px;
}

form#new_user.new_user input[type="submit"]{
	width:100%;
}

form#new_user.new_user input{
	width:97%;
}

.me-circle{
	background-image: image-url("backpack.jpg");
	background-size: 275px; 
	background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

.howitworks{
	background: whitesmoke;
	padding: 30px 0;
}
@media (max-width: 800px) {
	.blacker {width: 90%;padding: 0 10px;}
	.blacker input, .blacker button {width: 90%;margin:5px auto;}
}

@media (max-width: 800px) {
	.bump-down button {width:100%;}
	.bump-down input{width:97%;}
	.little-box{width:90%;}
}

@media (max-width: 500px) {
	.home-explain{width: 100%;text-align: center;padding: 0;}
	.home-picture{width: 100%;}
}