// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-bg{
	background: image-url("home_1.jpg") no-repeat center center fixed;
	height:100%;
	width:100%;
	position:absolute;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color:white;	
}

.home-bg .front-overlay{
	//padding: 200px 0 0 0;
}

.bump-down{
	padding: 200px 0 0 0;
	width:90%;
	margin:auto;
}

input#user_remember_me{
	margin: 0 3px 3px 0 ;
}

.little-box{
	background: #25ce98;
	width:80%;
	margin:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
}

form#new_user.new_user input[type="submit"]{
	width:100%;
}

form#new_user.new_user input{
	width:97%;
}

@media (max-width: 800px) {
	.bump-down button {width:100%;}
	.bump-down input{width:97%;}
	.little-box{width:90%;}
}