// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-window{
	min-width: 300px;
	text-align: center;
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

.more-stats{ 
	background: lightgrey;
	height:200px;
}

.year-header{ 
	border-left: solid 10px #333333;
	padding: 1px 0px 1px 15px;
}